<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>
<body>
        <h3>Bienvenido!!!
            Estos son parte de los integrantes de mi familia.
            no son datos veridicos! solo se usaron nombre randoms con mis apellidos.
        </h3>

        {% for nombre,apellido in nombres_apellidos %}
       <li style="padding-bottom:0.7em">{{ nombre }} {{ apellido }}</li>
        {% endfor %}

        <h3>Un poco mas de info </h3>
        {% for nombre, nacimiento, direccion, ciudad in nombre_nacimiento_direccion_ciudad%}
        <li style="padding-bottom:0.7em">{{nombre}} nació el {{nacimiento}}, y vive en {{direccion}}, ciudad de {{ciudad}}.</li>
        {% endfor %}
    
    
</body>
</html>